# Database Configuration
DATABASE_URL="mysql://wikiuser:wikipass@localhost:3306/wikigacha"

# Wikipedia API Configuration
WIKIPEDIA_API_URL="https://en.wikipedia.org/w/api.php"

# JWT Configuration
JWT_SECRET="supersecret"

# Redis Configuration
REDIS_HOST="localhost"
REDIS_PORT=6379

# Server Configuration
PORT=3000
